{% extends "store_templates/base.html" %}
{% load static %}
{% block content %}

<style>
    /* Center the container */
    .center-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh; /* Set the container's height to 100% of the viewport height */
    }
  
    /* Style the heading */
    h1 {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    /* Style the form */
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    /* Style the labels and inputs */
    label {
      font-weight: bold;
      margin-bottom: 10px; /* Set the margin between labels */
    }
  
    input {
      padding: 5px;
      margin: 5px;
    }
  
    /* Style the small text below the form */
    small {
      margin-top: 10px;
    }
  </style>
  
<!-- Form container -->
<div class="center-container">
    <h1>User Registration</h1>

    <!--reg Form-->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</div>

{% endblock content%}