{% extends "store_templates/base.html" %}
{% load static %}
{% block content %}

<!-- Logo and information and instructions -->
<main role="main" style="margin-top: 50px;">
    <section class="jumbotron text-center">
      <div class="container">
        <img src="{% static 'logo.jpg' %}" height=150></img>
        <h1 class="jumbotron-heading">Order Captured</h1>
        <p class="lead text-muted">Thank you for shopping with KICKS!</p>
        <img src="{{ item.image.url }}" height=300></img>
          <p>
            <a href="{% url 'store:home_page' %}" class="btn btn-dark my-2">Home</a>
          </p>
      </div>
    </section>
    </main>
{% endblock content%}




 